@charset "UTF-8";
*, *::after, *::before {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

html {
  scroll-behavior: smooth;
  font-size: 15px;
}

@media (max-width: 640px) {
  html {
    font-size: 13px;
  }
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

header {
  padding: 5px;
  width: 100%;
  background: #4dc384;
}

header img {
  width: 50px;
  height: auto;
  margin-right: 5px;
}

header h1 {
  font-size: 26px;
  font-weight: 500;
  display: inline-block;
  margin: 0;
  color: #fff;
}

@media (max-width: 640px) {
  header img {
    width: 32px;
  }
  header h1 {
    font-size: 18px;
  }
}

.container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 0  15px;
  position: relative;
}

.container-fluid {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  text-align: center;
  margin: auto;
}

@media (min-width: 640px) {
  .container-fluid {
    text-align: left;
    align-items: center;
    display: flex;
    flex: 1;
  }
}

.col {
  padding: 0 15px;
  flex: 1;
}

.main {
  overflow: visible;
  padding: 2rem 0;
}

.hero-section {
  background: #b0eecd;
  padding: 3rem 0;
  color: #3b3b3b;
  font-size: 1.5rem;
  text-align: center;
}

@media (max-width: 640px) {
  .hero-section {
    font-size: 1rem;
  }
}

.hero-section .hero-img-cnt {
  position: relative;
  width: 160px;
  height: 160px;
  margin: auto;
  border-radius: 50%;
  border: 0.5rem solid #fff;
}

@media (min-width: 640px) {
  .hero-section .hero-img-cnt {
    width: 200px;
    height: 200px;
  }
}

.hero-section .hero-img-cnt:after {
  content: "🔔";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  bottom: -10%;
}

.hero-section .hero-img-cnt .hero-img {
  width: 100%;
  height: auto;
  border: none;
}

.hero-section .hero-text {
  flex: 1;
  max-width: 800px;
  padding: 20px;
  letter-spacing: 2px;
  margin: auto;
}

.hero-section .hero-text a {
  color: #0c5a2f;
}

.center {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

.mb10 {
  margin-bottom: 10px;
}

.text-danger {
  color: #fa4242;
}

.text-center {
  text-align: center;
}

footer {
  background: #8dd4ad;
  padding: 1rem;
  align-items: center;
  text-align: center;
  color: #2e2b2b;
}

footer a {
  color: #0c5a2f;
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.mobile-grp {
  position: relative;
}

.mobile-grp:before {
  content: '+91';
  position: absolute;
  bottom: 0.52rem;
  left: 0.75rem;
  opacity: 0.75;
}

.mobile-grp .input-control {
  padding-left: 3rem;
}

.input-control {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  appearance: none;
}

.input-control::-webkit-input-placeholder {
  color: #9b9b9b;
}

.input-control:-moz-placeholder {
  color: #9b9b9b;
}

.input-control::-moz-placeholder {
  color: #9b9b9b;
}

.input-control:-ms-input-placeholder {
  color: #9b9b9b;
}

.input-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 253, 53, 0.25);
}

.select-box {
  position: relative;
}

.select-box:after {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  border-right: 2px solid #ced4da;
  border-bottom: 2px solid #ced4da;
  transform: rotate(45deg) translateY(-100%);
  top: 50%;
  right: 1.5rem;
  pointer-events: none;
}

label {
  font-weight: normal;
  color: #4c4c4c;
  display: block;
}

.form-group {
  margin-bottom: 15px;
}

@media (min-width: 640px) {
  .row-form {
    display: flex;
  }
  .row-form .form-group {
    flex: 1;
  }
  .row-form .form-group + .form-group {
    margin-left: 20px;
  }
}

.toggle {
  display: inline-block;
  margin-right: 0.25rem;
  margin-bottom: 0.75rem;
  position: relative;
}

.toggle input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}

.toggle input:disabled + label {
  opacity: 0.7;
  overflow: hidden;
}

.toggle input:disabled + label span:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(10deg);
  height: 2px;
  background: #aaaeb3;
  z-index: 2;
}

.toggle input:checked + label {
  background: #c7f8d9;
  border-color: #bce7cb;
}

.toggle input:checked + label::after {
  outline-color: #4ac577;
  background: #06DD55;
}

.toggle input:checked + label::before {
  opacity: 1;
  visibility: visible;
  color: #fff;
}

.toggle label {
  border: 1px solid #ced4da;
  -webkit-align-items: center;
  align-items: center;
  padding: 0.3rem 1rem 0.3rem 2rem;
  border-radius: 50px;
  display: -webkit-flex;
  display: flex;
  line-height: 1;
  position: relative;
}

.toggle label::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  outline: 1px solid #ced4da;
  left: 0.65rem;
  top: 50%;
  transform: translateY(-50%);
}

.toggle label::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 0.4rem;
  height: 0.9rem;
  color: #999;
  border-bottom: 2px solid;
  border-right: 2px solid;
  left: 1rem;
  bottom: 0.8rem;
  transform: rotate(45deg);
  opacity: 0;
  visibility: hidden;
}

.toggle label img {
  height: 1.6rem;
  width: auto;
  margin-right: 0.25rem;
}

.error-badge {
  background-color: #f7a6a6;
  padding: 0.25rem 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  transform: translateY(-1.9rem);
  position: relative;
  color: #910e0e;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: 0.2s ease-in;
}

.error-badge.show {
  max-height: 30rem;
  opacity: 1;
}

.alert {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  overflow: hidden;
  text-align: center;
  padding: 3rem 1rem;
  transition: opacity 0.3s ease-in;
  z-index: 3;
}

.alert.show {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.alert h2 {
  font-size: 1.85rem;
  margin: 0 0 1rem;
  color: #4ac577;
}

.alert p {
  font-size: 1.15rem;
  color: #4c4c4c;
}

.alert p b {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
}

.alert p i {
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  color: #f7a6a6;
}

.icon-done {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: #4ac577;
  margin: 0.5rem auto;
  position: relative;
  overflow: hidden;
}

.icon-done:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 3rem;
  height: 5.5rem;
  border-bottom: 1rem solid #fff;
  border-right: 1rem solid #fff;
  transform: translate(-50%, -55%) rotate(45deg);
}

.hide {
  display: none;
}

.show {
  display: block;
}

.relative {
  position: relative;
}

.vaild {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  right: 3px;
  top: 50%;
  color: #fff;
  transform: translateY(-50%);
}

.vaild.false {
  background: #fa4242;
}

.vaild.false:after, .vaild.false::before {
  content: '';
  width: 0rem;
  height: 0.9rem;
  border-bottom: 2px solid;
  border-right: 2px solid;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.vaild.false::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.vaild.true {
  background: #06DD55;
}

.vaild.true:after {
  content: '';
  width: 0.5rem;
  height: 0.9rem;
  border-bottom: 2px solid;
  border-right: 2px solid;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -65%) rotate(45deg);
}

.combox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: .26rem .75rem;
  min-height: 2.65rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: .25rem;
}

.combox .combox-selection .item {
  display: inline-block;
  border: 1px solid #ced4da;
  font-size: 12px;
  border-radius: 20px;
  padding: 5px 25px 5px 13px;
  margin: 2px;
  position: relative;
  line-height: 1.25;
}

.combox .combox-selection .item .remove {
  outline: none;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  width: 25px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.combox .combox-selection .item .remove::after {
  content: '×';
  font-size: 19px;
  line-height: 14px;
  vertical-align: middle;
}

.combox .combox-control {
  min-width: 30px;
  display: inline-block;
  border: none;
  outline: none;
  box-shadow: none;
}

.combox .combox-dropdown {
  position: absolute;
  background: #fff;
  z-index: 1;
  list-style: none;
  padding: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  width: 100%;
  top: 100%;
  overflow-y: auto;
  margin: 0;
  left: 0;
  max-height: 0;
  opacity: 0;
  transition: 0.2s ease-in;
}

.combox .combox-dropdown.open {
  opacity: 1;
  max-height: 150px;
}

.combox .combox-dropdown li {
  padding: 3px 5px;
  cursor: pointer;
}

.combox .combox-dropdown li:hover {
  background: rgba(0, 0, 0, 0.05);
}

.btn {
  color: #fff;
  background-color: #06DD55;
  border-color: #06DD55;
  padding: .65rem  1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-top: 15px;
}

.btn:not(:disabled) {
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background-color: #15D259;
  border-color: #15D259;
}

.btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  background: #bbb;
  pointer-events: none;
}

.show-loading {
  pointer-events: none;
  opacity: 0.7;
  cursor: not-allowed;
}

.show-loading .loading {
  display: inline-block;
}

.loading {
  display: none;
}

.loading:after {
  content: '';
  width: 1rem;
  display: inline-block;
  position: relative;
  animation: loading 1s infinite;
  text-align: left;
}

@keyframes loading {
  0% {
    content: '';
  }
  30% {
    content: '.';
  }
  60% {
    content: '..';
  }
  100% {
    content: '...';
  }
}

.no-js {
  background: #ebfff4;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: center;
  padding: 50px 20px 20px;
  font-size: 1.25rem;
}

.no-js h2 {
  font-size: 100px;
  font-weight: 400;
  margin: 30px auto;
  display: inline-block;
  padding: 0;
  position: relative;
}

.no-js h3 {
  font-size: 32px;
  font-weight: 400;
  margin: 10px auto;
}

.no-js b {
  white-space: nowrap;
}

.no-js b img {
  width: 22px;
  vertical-align: middle;
}

.no-js hr {
  border: none;
  border-bottom: 1px solid #1DC103;
  margin: 20px auto;
}
