@charset "UTF-8";
*, *::after, *::before {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

html {
  scroll-behavior: smooth;
  font-size: 15px;
}

@media (max-width: 640px) {
  html {
    font-size: 13px;
  }
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

header {
  padding: 5px;
  width: 100%;
  background: #4dc384;
  display: flex;
}

header .container-fluid {
  align-items: center;
  justify-content: space-between;
}

header .brand {
  display: flex;
  align-items: center;
  text-decoration: none;
}

header .brand img {
  width: 50px;
  height: auto;
  margin-right: 5px;
}

header .brand h1 {
  font-size: 26px;
  font-weight: 500;
  display: inline-block;
  margin: 0;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 640px) {
  header .brand img {
    width: 32px;
  }
  header .brand h1 {
    font-size: 18px;
  }
}

header .nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header .nav li {
  margin: 0 5px;
}

header .nav li a {
  display: inline-block;
  color: #fff;
  padding: 3px 5px;
  font-size: 1.2rem;
  text-decoration: none;
}

header .nav li a.nav-btn {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 3px 10px;
}

@media (max-width: 640px) {
  .hide-mob {
    display: none;
  }
}

.container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 0  15px;
  position: relative;
}

.container-fluid {
  max-width: 1050px;
  width: 100%;
  padding: 0 15px;
  text-align: center;
  margin: auto;
}

@media (min-width: 640px) {
  .container-fluid {
    text-align: left;
    align-items: center;
    display: flex;
    flex: 1;
  }
}

.col {
  padding: 0 15px;
  flex: 1;
}

.main {
  overflow: visible;
  padding: 2rem 0;
}

.text-high {
  color: #00897b;
  font-size: 1.1rem;
}

#mobile-app {
  background: #00897b;
  padding: 2.5rem 0;
  color: #fff;
}

#mobile-app .text-container {
  padding: 20px;
}

#mobile-app .text-container h2 {
  margin: 0;
  font-size: 2rem;
}

@media (max-width: 640px) {
  #mobile-app .text-container h2 {
    font-size: 1.5em;
  }
}

#mobile-app .text-container .flex {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

@media (max-width: 640px) {
  #mobile-app .text-container .flex {
    text-align: center;
    display: block;
  }
  #mobile-app .text-container .flex .gplay {
    display: block;
    margin: 15px auto 0;
  }
}

#mobile-app .phone {
  flex: none;
  display: block;
  font-size: 10px;
  margin: 0 auto;
  width: 20em;
  height: 38em;
  background: #fff url(../images/logo-v.png) no-repeat;
  background-size: 15em auto;
  background-position: center 40%;
  border-width: 0.8em 0.5em 1.2em;
  border-style: solid;
  color: #212529;
  border-radius: 1.5em;
  box-shadow: 0 0 0.2em  #333 inset;
  position: relative;
}

@media (max-width: 640px) {
  #mobile-app .phone {
    font-size: 5px;
  }
}

#mobile-app .phone:before {
  content: '';
  position: absolute;
  width: 1.6em;
  height: 1.5em;
  background: #333;
  background-image: radial-gradient(ellipse at center, #303030 0%, #0d0d0d 22%, #010101 43%, #0a0a0a 56%, #000000 68%, #383838 86%, #020202 100%);
  background-size: 0.8em 0.8em;
  background-position: center 20%;
  background-repeat: no-repeat;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 2em 2em;
}

#mobile-app .phone:after {
  content: '';
  width: 0.1em;
  height: 5em;
  position: absolute;
  right: -0.6em;
  top: 20%;
  background: #222;
}

.gplay {
  width: 165px;
  height: 50px;
  display: inline-block;
  background: url("../images/get-on-google-play.png") no-repeat;
  background-size: contain;
  border-radius: 4px;
  margin-left: 15px;
  cursor: pointer;
  outline: none;
}

#vb-alert {
  background: #ff5722;
  padding: 2.5rem 0;
  color: #fff;
}

#vb-alert .container-fluid {
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

#vb-alert img {
  margin-left: 20px;
}

@media (max-width: 640px) {
  #vb-alert img {
    margin: 0 0 20px;
    width: 150px;
  }
}

#vb-alert .text-container {
  padding: 20px;
}

#vb-alert .text-container h2 {
  margin: 0;
  font-size: 2rem;
}

@media (max-width: 640px) {
  #vb-alert .text-container h2 {
    font-size: 1.5em;
  }
}

.hero-section {
  background: #f7fffb;
  padding: 3rem 0;
  color: #3b3b3b;
  font-size: 1rem;
}

@media (max-width: 640px) {
  .hero-section {
    font-size: 1rem;
  }
}

.hero-section .hero-img-cnt {
  position: relative;
  width: 160px;
  height: 160px;
  margin: auto;
  border-radius: 50%;
  border: 0.5rem solid #fff;
}

@media (min-width: 640px) {
  .hero-section .hero-img-cnt {
    width: 200px;
    height: 200px;
  }
}

.hero-section .hero-img-cnt:after {
  content: "🔔";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  bottom: -10%;
}

.hero-section .hero-img-cnt .hero-img {
  width: 100%;
  height: auto;
  border: none;
}

.hero-section .hero-text {
  flex: 1;
  max-width: 800px;
  padding: 20px;
  letter-spacing: 2px;
  margin: auto;
}

.hero-section .hero-text a {
  color: #0c5a2f;
}

.center {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

.mb10 {
  margin-bottom: 10px;
}

.text-danger {
  color: #fa4242;
}

.text-center {
  text-align: center;
}

footer {
  background: #8dd4ad;
  padding: 1rem;
  align-items: center;
  text-align: center;
  color: #2e2b2b;
}

footer a {
  color: #0c5a2f;
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.mobile-grp {
  position: relative;
}

.mobile-grp:before {
  content: '+91';
  position: absolute;
  bottom: 0.52rem;
  left: 0.75rem;
  opacity: 0.75;
}

.mobile-grp .input-control {
  padding-left: 3rem;
}

#districts {
  z-index: 1500;
}

#hospitals {
  z-index: 1000;
}

#hospitals .combox-selection:empty::before {
  content: 'All Hospitals';
  display: inline-block;
  border: 1px solid #ced4da;
  font-size: 12px;
  border-radius: 20px;
  padding: 5px 13px;
  margin: 2px;
  line-height: 1.25;
}

#register-form {
  position: relative;
}

#register-form.disable::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1600;
}

.input-control {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background: white !important;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

.input-control::-webkit-input-placeholder {
  color: #9b9b9b;
}

.input-control:-moz-placeholder {
  color: #9b9b9b;
}

.input-control::-moz-placeholder {
  color: #9b9b9b;
}

.input-control:-ms-input-placeholder {
  color: #9b9b9b;
}

.input-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 253, 53, 0.25);
}

.select-box {
  position: relative;
}

.select-box:after {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  border-right: 2px solid #ced4da;
  border-bottom: 2px solid #ced4da;
  transform: rotate(45deg) translateY(-100%);
  top: 50%;
  right: 1.5rem;
  pointer-events: none;
}

label {
  font-weight: normal;
  color: #4c4c4c;
  display: block;
}

.form-group {
  margin-bottom: 15px;
}

@media (min-width: 640px) {
  .row-form {
    display: flex;
  }
  .row-form .form-group {
    flex: 1;
  }
  .row-form .form-group + .form-group {
    margin-left: 20px;
  }
}

.toggle {
  display: inline-block;
  margin-right: 0.25rem;
  margin-bottom: 0.75rem;
  position: relative;
}

.toggle input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}

.toggle input:disabled + label {
  opacity: 0.7;
  overflow: hidden;
}

.toggle input:disabled + label span:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(10deg);
  height: 2px;
  background: #aaaeb3;
  z-index: 2;
}

.toggle input:checked + label {
  background: #c7f8d9;
  border-color: #bce7cb;
}

.toggle input:checked + label::after {
  outline-color: #4ac577;
  background: #06DD55;
}

.toggle input:checked + label::before {
  opacity: 1;
  visibility: visible;
  color: #fff;
}

.toggle label {
  border: 1px solid #ced4da;
  -webkit-align-items: center;
  align-items: center;
  padding: 0.3rem 1rem 0.3rem 2rem;
  border-radius: 50px;
  display: -webkit-flex;
  display: flex;
  line-height: 1;
  position: relative;
}

.toggle label::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  outline: 1px solid #ced4da;
  left: 0.65rem;
  top: 50%;
  transform: translateY(-50%);
}

.toggle label::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 0.4rem;
  height: 0.9rem;
  color: #999;
  border-bottom: 2px solid;
  border-right: 2px solid;
  left: 1rem;
  bottom: 0.8rem;
  transform: rotate(45deg);
  opacity: 0;
  visibility: hidden;
}

.toggle label img {
  height: 1.6rem;
  width: auto;
  margin-right: 0.25rem;
}

.error-badge {
  background-color: #f7a6a6;
  padding: 0.25rem 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  transform: translateY(-1.9rem);
  position: relative;
  color: #910e0e;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: 0.2s ease-in;
}

.error-badge.show {
  max-height: 30rem;
  opacity: 1;
}

.alert {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  overflow: hidden;
  text-align: center;
  padding: 3rem 1rem;
  transition: opacity 0.3s ease-in;
  z-index: 1700;
}

.alert.show {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.alert h2 {
  font-size: 1.85rem;
  margin: 0 0 1rem;
  color: #4ac577;
}

.alert p {
  font-size: 1.15rem;
  color: #4c4c4c;
}

.alert p b {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
}

.alert p i {
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  color: #f7a6a6;
}

.info-box {
  padding: 0.5rem 0.75rem;
  background: rgba(141, 212, 173, 0.4);
  border-radius: 4px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.info-box::before {
  content: '🔔';
  margin-right: 10px;
  font-size: 2rem;
}

.icon-done {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: #4ac577;
  margin: 0.5rem auto;
  position: relative;
  overflow: hidden;
}

.icon-done:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 3rem;
  height: 5.5rem;
  border-bottom: 1rem solid #fff;
  border-right: 1rem solid #fff;
  transform: translate(-50%, -55%) rotate(45deg);
}

.hide {
  display: none;
}

.show {
  display: block;
}

.relative {
  position: relative;
}

.vaild {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  right: 3px;
  top: 50%;
  color: #fff;
  transform: translateY(-50%);
}

.vaild.false {
  background: #fa4242;
}

.vaild.false:after, .vaild.false::before {
  content: '';
  width: 0rem;
  height: 0.9rem;
  border-bottom: 2px solid;
  border-right: 2px solid;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.vaild.false::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.vaild.true {
  background: #06DD55;
}

.vaild.true:after {
  content: '';
  width: 0.5rem;
  height: 0.9rem;
  border-bottom: 2px solid;
  border-right: 2px solid;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -65%) rotate(45deg);
}

.combox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: .26rem .75rem;
  min-height: 2.65rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: .25rem;
}

.combox .combox-selection .item {
  display: inline-block;
  border: 1px solid #ced4da;
  font-size: 12px;
  border-radius: 20px;
  padding: 5px 25px 5px 13px;
  margin: 2px;
  position: relative;
  line-height: 1.25;
}

.combox .combox-selection .item .remove {
  outline: none;
  padding: 0;
  border: none !important;
  background: none !important;
  cursor: pointer;
  width: 25px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.combox .combox-selection .item .remove::after {
  content: '×';
  font-size: 19px;
  line-height: 14px;
  vertical-align: middle;
}

.combox .combox-control {
  min-width: 30px;
  display: inline-block;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent !important;
}

.combox .combox-dropdown {
  position: absolute;
  background: #fff;
  z-index: 1;
  list-style: none;
  padding: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  width: 100%;
  top: 100%;
  overflow-y: auto;
  margin: 0;
  left: 0;
  max-height: 0;
  opacity: 0;
  transition: 0.2s ease-in;
}

.combox .combox-dropdown.open {
  opacity: 1;
  max-height: 150px;
}

.combox .combox-dropdown li {
  padding: 3px 5px;
  cursor: pointer;
}

.combox .combox-dropdown li:hover {
  background: rgba(0, 0, 0, 0.05);
}

.btn {
  color: #fff;
  background-color: #06DD55;
  border-color: #06DD55;
  padding: .65rem  1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-top: 15px;
}

.btn:not(:disabled) {
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background-color: #15D259;
  border-color: #15D259;
}

.btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  background: #bbb;
  pointer-events: none;
}

.btn.hide {
  display: none;
}

.btn.wa-jn-btn {
  font-size: 1rem;
  font-weight: 600;
  background: #4FCE5D;
}

@media (min-width: 640px) {
  .btn.wa-jn-btn {
    margin-right: 0.4rem;
    padding: .65rem 0.75rem;
    width: auto;
    display: inline-block;
  }
}

.btn.wa-jn-btn:before {
  content: 'Join ';
  font-weight: 400;
  display: inline-block;
  padding-left: 2rem;
  margin-right: 3px;
  background: url("../images/whatsapp.png") no-repeat;
  background-size: 1.5rem auto;
  background-position: left center;
}

.btn-flat {
  display: inline-block;
  width: auto;
  background: rgba(0, 0, 0, 0.15);
  padding: 7px 30px;
}

.btn-flat:hover, .btn-flat:active {
  background: rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.05);
}

.show-loading {
  pointer-events: none;
  opacity: 0.7;
  cursor: not-allowed;
}

.show-loading .loading {
  display: inline-block;
}

.loading {
  display: none;
}

.loading:after {
  content: '';
  width: 1rem;
  display: inline-block;
  position: relative;
  animation: loading 1s infinite;
  text-align: left;
}

@keyframes loading {
  0% {
    content: '';
  }
  30% {
    content: '.';
  }
  60% {
    content: '..';
  }
  100% {
    content: '...';
  }
}

.no-js {
  background: #ebfff4;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3000;
  text-align: center;
  padding: 50px 20px 20px;
  font-size: 1.25rem;
}

.no-js h2 {
  font-size: 100px;
  font-weight: 400;
  margin: 30px auto;
  display: inline-block;
  padding: 0;
  position: relative;
}

.no-js h3 {
  font-size: 32px;
  font-weight: 400;
  margin: 10px auto;
}

.no-js b {
  white-space: nowrap;
}

.no-js b img {
  width: 22px;
  vertical-align: middle;
}

.no-js hr {
  border: none;
  border-bottom: 1px solid #1DC103;
  margin: 20px auto;
}

.page-header {
  background: #44a973;
  padding: 4rem 0;
  color: #fff;
  margin-bottom: 1rem;
}

.page-header h1 {
  font-weight: 200;
  font-size: 2.5rem;
}

.unsubcribe {
  min-height: calc(100vh - 9rem);
  color: #5a5a5a;
}

.unsubcribe h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #4a4a4a;
}

.unsubcribe .flex {
  display: flex;
}

.unsubcribe .flex .btn {
  display: inline-block;
  margin: 0 0.5rem;
}

.unsubcribe .flex .btn.btn-d {
  background: #fff;
  color: #4a4a4a;
  border: 2px solid;
}

.unsubcribe .flex .btn.btn-d:hover {
  background-color: #4a4a4a;
  color: #fff;
}

.unsubcribe .flex .btn.btn-p {
  background: #d0fae0;
  color: #06b144;
  border: 2px solid;
}

.unsubcribe .flex .btn.btn-p:hover {
  background-color: #06b144;
  color: #fff;
}

.data-use {
  position: fixed;
  z-index: 1750;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  background: #fff;
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.15);
  color: #5a5a5a;
  animation: slideUp 3s ease-in;
}

.data-use #close-data-use {
  position: absolute;
  right: 1rem;
  background: none !important;
  border: none;
  outline: none;
  font-size: 2rem;
  top: 0;
  cursor: pointer;
  z-index: 20;
  width: 48px;
  height: 48px;
}

.data-use #close-data-use:hover {
  opacity: 0.7;
}

.data-use .container-fluid {
  display: block;
}

.data-use h3 {
  font-size: 1.25rem;
  color: #444;
  font-weight: 600;
  margin: 0 0 5px;
  line-height: 1.5;
}

.data-use p {
  margin: 0;
}

@keyframes slideUp {
  0%, 75% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0%);
  }
}

.vb-alert {
  min-height: 50vh;
}

#alert-form {
  position: relative;
}

#alert-form.disable {
  pointer-events: none;
  user-select: none;
}

#alert-form.disable:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2000;
}

#results {
  padding: 1rem;
  background: #eee;
}

@media (max-width: 800px) {
  #results {
    padding: 1rem 0;
  }
}

#results .container-fluid {
  display: block;
}

#results .container-fluid h2 {
  text-align: center;
  color: #202020;
  font-size: 2rem;
}

#result-row {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  width: 33.33%;
  padding: 1rem;
}

@media (max-width: 800px) {
  .grid {
    width: 50%;
    padding: 0.5rem;
  }
}

@media (max-width: 640px) {
  .grid {
    width: 100%;
    padding: 0.5rem 0;
  }
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
  border-radius: 8px;
  background: #fff;
  color: #4a4a4a;
  text-align: left;
}

.card h3 {
  color: #444;
  margin: 0 0 0.5rem;
}

.card p {
  margin: 0 0 0.5rem;
}

.card-body {
  padding: 1rem;
  min-height: 250px;
}

.fee-type {
  display: inline-block;
  background: #eee;
  padding: 3px 7px;
  line-height: 1;
  border-radius: 4px;
  font-size: 12px;
}

.fee-type.Paid {
  color: #fff;
  background: #ff5722;
}

.fee-type.Free {
  color: #fff;
  background: #44a973;
}

.flex-table {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-table .tbox {
  border: 1px solid #ccc;
  border-collapse: collapse;
  text-align: center;
  font-size: 12px;
  flex: 1;
}

.flex-table .tbox .tbox-th {
  margin: 0;
  padding: 3px 7px;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.flex-table .tbox .tbox-td {
  padding: 3px;
}

.flex-table .tbox .cpc {
  margin: 0;
  color: #44a973;
  font-size: 14px;
}

.flex-table .tbox .vaccine {
  display: block;
}

.flex-table .tbox .age {
  color: #ff5722;
  display: block;
}

#counter {
  background: #222;
  width: 64px;
  height: 64px;
  color: #06dd55;
  font-size: 18px;
  text-align: center;
  line-height: 56px;
  margin: auto;
  border-radius: 50%;
  font-weight: 600;
  border: 4px solid #444;
  position: relative;
}

#counter:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 8px;
  background: #444;
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%, -65%);
  bottom: 100%;
}

#counter:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  left: 0;
  top: 0;
  background: linear-gradient(#4FCE5D 30px, transparent 0) no-repeat;
  background-size: 2px 5px;
  background-position: 50% 2px;
}

#counter:not(.hide):after {
  animation: spin 60s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.check-btn {
  position: relative;
  display: inline-block;
  margin: 5px;
}

.check-btn input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.check-btn input:hover + label {
  border-color: #44a973;
  color: #44a973;
}

.check-btn input:checked + label {
  border-color: #44a973;
  background: #44a973;
  color: #fff;
}

.check-btn label {
  padding: 5px 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 14px;
  color: #444444;
}
